backend/.kamal
backend/tmp
tmp/*
!tmp/.keep

/vendor/bundle
/vendor/assets
/vendor/cache
/vendor/node_modules
/vendor/yarn-cache

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/.env
frontend/.yarnclean
frontend/.env
backend/app/assets/builds/.keep
backend/vendor/javascript/.keep

chat/_build
chat/deps
chat/cover
chat/doc
chat/node_modules
chat/priv/static/assets
chat/priv/static/cache_manifest.json
chat/priv/static/css
chat/priv/static/js
chat/priv/static/images
chat/priv/static/fonts
chat/assets/node_modules
chat/.env
chat/priv/repo/seeds.exs
